.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 90px;
  width: 60px;
  margin: 0 10px;
  border-radius: 5px;
  padding: 5px;
  &__info_bottom {
    transform: rotate(-180deg);
  }
  &__name {
    line-height: 0.8;
  }
  &_suit {
    line-height: 0.8;
  }
}