$game-menu-width: 25%;
$game-menu-bg-color: #743a23;
$game-menu-border-color: #4b2316;
$game-menu-btn-color: antiquewhite;

$game-field-bg-color: #277d27;

$player-border: #fff;
$player-border-active: yellow;
$player-border-lose: red;
$player-font-size: 40px;
$player-font-color: #fff;

$modal-bg-color: #743a23;
$modal-btn-color: antiquewhite;